
/*======================================
            Common-css     
======================================*/
.container{
    margin-bottom: 80px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
/*======================================
            Carousel-css     
======================================*/
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF3182;
}
/*======================================
            Categories-css
======================================*/
.cate1{
    background-image: linear-gradient(to left, #FFD019 0%, #FF9C35 100%);
}
.cate2{
    background-image: linear-gradient(to bottom, #FF5096 0%, #FF2178 100%);
}
.cate3{
    background-image: linear-gradient(to left, #327cc0 0%, #2e79be 100%);
}
.cate1, .cate2, .cate3{
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
}
.categories img{
    width: 100px;
}
/*======================================
            Shoes-css
======================================*/
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
/*======================================
            Contact-css
======================================*/
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
#contact input{
    font-size: 18px;
    padding: 4px;
}
/*======================================
           Footer-css 
======================================*/
footer{
    background-color:  #282531;
}
.footer-aria{
    margin: 50px auto 0px auto;
    padding: 50px 20px 10px 20px;
}
.footer-aria p,a{
    color: rgb(224, 220, 220);
}
.column-link li{
    margin-top: 15px;
}
.column-link .title{
    font-size: 20px;
    font-weight: bold;
}
.column-link a{
    text-decoration: none;
}
.column-link a:hover{
    color: tomato;
    text-decoration: underline;
}
.copyright{
    color: rgb(175, 172, 172);
    font-size: 14px;
    text-align: center;
    margin: 50px auto 0px auto;
}

/*=====================================
            END-Css
=====================================*/